<!-- Member by Name -->
{{- $img := "https://about.gitlab.com/images/gitlab-logo-extra-whitespace.png" -}}
{{- $name := replaceRE `\s\(.*\)` "" . -}}
{{- $meta := index (findRE `\s\(.*\)` .) 0 -}}
{{- $teamDict := partials.IncludeCached "team/by-name" . -}}
{{- $data := index $teamDict $name -}}
{{- with $data }}
<span  style="white-space: nowrap;">{{- partial "member" . -}} {{ $meta }}</span>
{{- else -}}
<span class="not-found" style="white-space: nowrap;"><img class="avatar" src="https://about.gitlab.com/images/gitlab-logo-extra-whitespace.png" width="40" height="40" alt="{{ $name }}">{{$name}} {{$meta}}</span>
{{- end -}}
